* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(espacascas.jpg);
    background-size: cover;
    animation: translacao 20s linear infinite;

}
.globo {
    width: 500px;
    height: 400px;
    background-color: fuchsia;
    border-radius: 50%;
    background: url(maedofernandinho.jpg);
    background-size: cover ; 
    box-shadow: -25px -25px 25px rgb(4, 5, 12) inset,
                0px 0px 20px rgb(197, 240, 240),
                0px 0px 40px rgb(72, 111, 182); 
    display: flex;
    animation: rotacionar 10s linear infinite;
}
@keyframes translacao {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: -1000%;
    }
}
@keyframes rotacionar {
    to {
        background-position: -200%;
    }

}